<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VMSCoreDb" connectionString="metadata=res://*/Entities.VMSCoreModel.csdl|res://*/Entities.VMSCoreModel.ssdl|res://*/Entities.VMSCoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=VMSCore;persist security info=True;user id=sa;password=123@abcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>